.div1, .div2 {
    width: 33%;
    height: 100px;
    display: inline-block;
    border: 5px solid blue;
}
 .div3 {
     width: 100%;
     height: 50px;
    border: 5px solid black;
    background-color: red;
    text-align: center;
 }
.div1 {
    background-color: yellow;
}

.div2 {
    background-color: green;
    margin-left:30%;
}

span {
    display: inline;
}