.div1, .div2 {
    width: 33%;
    height: 200px;
    display: inline-block;
    border: 5px solid blue;
    text-align: center;
}
 .div3 {
     width: 100%;
     height: 300px;
    border: 5px solid black;
    background-color: red;
    text-align: center;
    font-size: 24px;
 }
.div1 {
    background-color: yellow;
}

.div2 {
    background-color: green;
    margin-left:30%;
}

span {
    display: inline;
}